.title{
  font-size: 4rem;
  color: var(--main-color);
}
.star {
  position: relative;
}
.star::before{
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: var(--main-color);
  top: 50%;
  right: 45px;
}
.star::after{
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: var(--main-color);
  top: 50%;
  left: 45px;
}
.btnSubmit {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1abc9c;
  --bs-btn-border-color: #1abc9c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #17a589;
  --bs-btn-hover-border-color: #148f77;
  --bs-btn-focus-shadow-rgb: 26, 188, 156;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #148f77;
  --bs-btn-active-border-color: #117a65;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1abc9c;
  --bs-btn-disabled-border-color: #1abc9c;
}