.heroBg{
  background-color: var(--secondary-color);
}
.heroTitle{
  font-size: 4rem;
}
.star {
  position: relative;
}
.star::before{
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: #ffffff;
  top: 50%;
  right: 45px;
}
.star::after{
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: #ffffff;
  top: 50%;
  left: 45px;
}
