.title{
  font-size: 3.5rem;
  color: var(--main-color);
}
.star {
  position: relative;
}
.star::before{
  content: '';
  display: block;
  position: absolute;
  width: 130px;
  height: 4px;
  background-color: var(--main-color);
  top: 50%;
  right: 45px;
}
.star::after{
  content: '';
  display: block;
  position: absolute;
  width: 130px;
  height: 4px;
  background-color: var(--main-color);
  top: 50%;
  left: 45px;
}